.footer-wrap {
  background-image: url(../images/footer/footer.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: $bg-color-footer;
}

.footer-link {
  width: 50px;
  height: 50px;
  background-color: $bg-color-text;
  border-radius: 50%;
}

.footer-button {
}
.footer-link {
}
.footer-button__icon {
}
.footer-logo-wrap {
  display: flex;
  gap: 15px;
  padding: 50px 51px;
}
.footer-logo-link {
  @include centerFlex();
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: $primary-white-color;
}
.footer-logo-color {
  color: #44c697;
}
.footer-list-wrap {
  @include centerFlex();
  color: $primary-white-color;
}
.footer-list {
}
.footer-adress-wrap {
}
.footer-adress {
}
.footer-adress-list {
}
.footer-social-wrap {
}
.footer-social-title {
}
.footer-social-list {
}
.footer-subtitle {
}
