.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.header-main__nav {
  @include centerFlex();
  padding: 10px 0;
  margin-right: auto;
}

.header-nav__link {
  text-transform: uppercase;
  color: $primary-text-color;
  position: relative;
}

.header-nav__link--active:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: $bg-color-text;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.header-nav__link--active:hover:before,
.header-nav__link--active:focus:before {
  transform: scaleY(1);
  transform-origin: right;
  transition: transform 0.25s;
}
