.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.header-main__nav {
  @include centerFlex();
  padding: 10px 0;
  margin-right: auto;
}

.header-nav__link {
  text-transform: uppercase;
  color: $primary-text-color;
}
