.header-contact {
  @include centerFlex();
}

.header-contact__link {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 40px;
  height: 40px;
}

.header-contact__marg {
  margin-left: 50px;
}

.header-contact__list {
  @include centerFlex();
  gap: 5px;
}

.header-contact__icon {
  @include centerFlex();
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $bg-color-text;
  }
}
.header-contact__mobile {
  @include centerFlex();
}
.header-contact__tel {
  @include centerFlex();
  gap: 5px;

  color: $primary-text-color;
  text-decoration: none;
}
