body {
  background-color: $bg-color-body;
  color: $primary-text-color;
  font-family:Nova , sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-bottom: 100px;
  padding-top: 100px;
}

.header {
  border: 1px solid #ececec;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
