body {
  background-color: $bg-color-body;
  color: $primary-text-color;
  font-family: Nova, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.section {
  padding-bottom: 100px;
  padding-top: 100px;
}

.header {
  border: 1px solid $bg-color-footer;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 51px;
  padding-right: 51px;
}
